# リスト型，タプル型を使いこなす

## 要素を取り出す

In [ ]:
# 4・4・1
# 東京(2023年)の平均気温
avg_temp_2023 = [6.7, 7.0, 12.0, 16.7, 20.3, 23.2,
                 27.8, 29.0, 25.5, 19.3, 13.9, 9.3]

In [ ]:
# 4・4・2
avg_temp_2023[2]  # 3月の平均気温を取り出す

In [ ]:
# 4・4・3
max_temp = max(avg_temp_2023)
min_temp = min(avg_temp_2023)
print(f"最高気温:{max_temp} 最低気温:{min_temp}")

In [ ]:
# 4・4・4
max_idx = avg_temp_2023.index(max_temp)
min_idx = avg_temp_2023.index(min_temp)
print(f"最高:{max_idx+1}月 最低:{min_idx+1}月")

## スライス

In [ ]:
# 4・4・5
summer_sum = avg_temp_2023[5]+avg_temp_2023[6] + avg_temp_2023[7]
summer_avg = summer_sum / 3
summer_avg   # 結果を表示

In [ ]:
# 4・4・6
summer_temps = avg_temp_2023[5:8]
summer_avg = sum(summer_temps) / 3
summer_avg   # 結果を表示

In [ ]:
# 4・4・7
summer_temps

In [ ]:
# 4・4・8
avg_temp_2023[:6]   # 前半半年の平均気温

In [ ]:
# 4・4・9
avg_temp_2023[6:]   # 後半半年の平均気温

In [ ]:
# 4・4・10
avg_temp_2023[1::2]

In [ ]:
# 4・4・11
avg_temp_2023[0::2]

In [ ]:
# 4・4・12
avg_temp_2023[4:5]   # 5月の平均気温を取り出す

In [ ]:
# 4・4・13
summer_temps = avg_temp_2023[5:8]
summer_avg = sum(summer_temps) / len(summer_temps)
summer_avg   # 結果を表示

## スライスと要素の代入

In [ ]:
# 4・4・14
# 東京(1876年)の平均気温
avg_temp_1876 = [2.1, 4.2, 7.2, 12.4, 16.8, 21.3,
                 25.0, 25.4, 22.0, 16.9, 10.4, 5.5]

In [ ]:
# 4・4・15
avg_temp_1876[0] = 2.7

In [ ]:
# 4・4・16
avg_temp_1876[1:4] = [4.1, 7.1, 12.3]

In [ ]:
# 4・4・17
# 緯度経度をタプルに代入
latlon = (35.64, 139.84)

In [ ]:
# 4・4・18
latlon[0] = 36.25

In [ ]:
# 4・4・19
tokyo_location = ("東京", ) + latlon

In [ ]:
# 4・4・20
tokyo_location = "東京", 35.64, 139.84

## リスト型のメソッド

In [ ]:
# 4・4・21
capitals = ["那覇市", "鹿児島市", "宮崎市", "長崎市", ]

In [ ]:
# 4・4・22
capitals.append("熊本市")
capitals   # リストを確認

In [ ]:
# 4・4・23
capitals.extend(["大分市", "佐賀市"])
capitals[4:]   # リストを確認

In [ ]:
# 4・4・24
kyushu_capitals = capitals.remove("那覇市")

In [ ]:
# 4・4・25
kyushu_capitals

## if文とリスト，タプル

In [ ]:
# 4・4・26
# 20までの素数のリストを定義
primes = [2, 3, 5, 7, 11, 13, 17, 19]
if 13 in primes:
    print("13は素数です")

## リストの要素を並べ変える(ソート)

In [ ]:
# 4・4・27
lons = [35.18, 40.82, 34.39, 35.44, 31.91, 37.90]

In [ ]:
# 4・4・28
lons.sort()
lons    # 結果を表示

In [ ]:
# 4・4・29
lons.reverse()
lons    # 結果を表示

In [ ]:
# 4・4・30
cities = [("名古屋", 35.18, 136.91), ("青森", 40.82, 140.74),
          ("広島", 34.39, 132.46), ("横浜", 35.44, 139.64),
          ("宮崎", 31.91, 131.42), ("新潟", 37.90, 139.02)]

In [ ]:
# 4・4・31
def get_lat(t):
    # 引数のタプル(t)から緯度を返す
    return t[1]

In [ ]:
# 4・4・32
get_lat(cities[0])

In [ ]:
# 4・4・33
cities.sort(key=get_lat)
cities    # 結果を確認